body {
  margin: 0px;
  font-family: 'Helvetica', sans-serif;
}

.body {
  background-color: #ffffff;
  margin: 0px;
  padding: 75px 150px;
}

.content {
  position: absolute;
  width: 100%;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  .body {
    padding: 50px;
  }
}

p {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

a {
  color: #000000;
}

.background {
  background: url('background.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100vw;

}

.circle {
  width: 100px;
  height: 100px;
  background: radial-gradient(circle at center 50px, transparent, transparent 50px, #ffffff 50px);
  overflow: hidden;
  position: absolute;
}

.outside {
  border-width: 150px 0px 0px 150px;
  border-color: #ffffff;
  border-style: solid;
  background-clip: border-box;
  height: 100px;
}

@media screen and (max-width: 600px) {
  .outside {
    border-width: 100px 0px 0px 50px;
  }
}

.title {
  background-color: #ffffff;
  margin: 0px 0px 0px 100px;
  padding: 22px;
}

.title a {
  text-decoration: none;
}

label {
  display: block;
  font-weight: bold;
  padding: 20px 0px 5px 0px;
  font-size: 18px;
}

.input-field {
  width: 200px;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
  font-family: 'Helvetica', sans-serif;
  border-radius: 0px;
}

.button {
  color: #ffffff;
  background-color: #000000;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 0px;
}

/* Bottom menu */
.column {
  float: left;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  background-color: #ffffff;
  margin: -1px;
  padding: 0px 150px 75px 150px;
  height: 50vh;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  .row {
    padding: 0px 50px;
  }
}

/* Bottom menu end */
