body {
    background: url(https://mobirise.com/engine/data/upload/2019/02/code-editor-color.jpg);
    background-attachment: fixed;
    margin: 0px;
    font-family: 'Helvetica', sans-serif;
}
  

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }
    
    label {
        display: block;
        font-weight: bold;
        padding: 20px 0px 5px 0px;
        font-size: 18px;
    }

    .input-field {
        width: 200px;
        border-width: 2px;
        border-color: #000000;
        border-style: solid;
        font-family: 'Helvetica', sans-serif;
        border-radius: 0px;
    }

    .button {
        color: #ffffff;
        background-color: #000000;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        border: none;
        margin: 20px 0px;
        cursor: pointer;
    }

    a {
        color: #000000;
    }

    .column {
        float: left;
        margin-right: 20px;
      }
      
      .left, .right {
        width: 25%;
      }
      
      .middle {
        width: 50%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      .row {
        background-color: #ffffff;
        margin: 0px;
        padding: 5% 10% 30% 10%;
        height: 50vh;
        line-height:1.5;
      }
    
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
      
      .body {
        background-color: #ffffff;
        margin: 0px;
        padding: 0 10% 0 10%;
    }

    @media only screen and (max-width: 600px) {
        .body {
            padding: 10% 10% 10% 10%;
        }
    }